p {
    font-size: 20px;
   font-family: 'Roboto', sans-serif;
}
body {
    background-color: rgba(252, 98, 219,0.3);
}
h2 {
    color: white;
    margin-left: 20px;
}
h4 {
	margin-top: 20px;
	color: white;
}
h6 { margin-top: 5px;
	color: white;
	font-size: 18px;
 }

.text {
    color: black;
    font-family: 'Meddon', cursive;
    font-size: 15px;
    margin-left: 3.8px;
    margin-bottom: 10px;
    border: 1px white;

}
.text2 {
	color: black;
	font-family: 'Meddon', cursive;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px white;
}
a {
	margin:0 20px;
}
div {
	margin:30px 0;
}
body {
	font font-family: sans-serif;
	line-height: 1.16em;
	text-align: center;
 }

 .circlepositionstatic {
	width: 80px;
	height: 80px;
	background: red;
	border-radius: 40px;
	margin-top: 435px;
	margin-left: 10px;
	position: fixed;
}

body {
    background-image: url("http://www.telegraph.co.uk/content/dam/Travel/Tours/New%20York1.jpg?imwidth=1400");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}


.circlepositionstatic {
	background: white;
}

.text-container {
    text-align: center;
}
.container {
	display:inline-block;
	max-width-width: 30%;
}
img {
	width: 10%
}
